
*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

h1.titlu{
    color: black ;
    text-align: center;

}

ul{
	float:left;
	list-style-type: none;
  margin-top: 30px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #000;
	padding: 10px 20px;
	border: 1px solid transparent;
	transition: :0.6s ease;
}


ul li a:hover{
	background-color: #000 ;
	color: #fff;

}

ul li.nav-link a{
	background-color: #000 ;
	color: #fff;
}

body{
    background-color: white;
	font-family: 'Poppins', sans-serif;
}
.pendul2{
    height="500" width="300";
    float:left;
    margin-top: 30px;
    margin-left: right;
    border: 1px black;
}
.buton{
    background-color:black;
    color: white;
    font-size: medium;
    margin-top: 20%;
    margin-left: 20%;
}
.butonjoc{
    background-color:black;
    color: white;
    font-size: medium;
    margin-top: 20%;
    margin-left: 20%;
}
.dublupoza{
    width: 350px;
    margin-top:6%;
    align:left;
    margin-left:-24%;
}
.dublupoza2{
    width: 250px;
    margin-top:6%;
    align:left;
    margin-left:0.5%;
}
.quo {
    color: rgb(255, 251, 23);
    background-color:rgb(0, 0, 0);
    text-align: left;
    border-style: inset;
    line-height: 0.9;
    font-size: larger;
    margin-top: -0%;

  }
  .divquo {
    width: 1300px;
    border: 15px solid rgb(222, 245, 13);
    padding: 30px;
    margin: 20px;
    align: center;
  }
  .finaljos{
      color: black;
      margin-left: 43%;

  }
  .divquofinal {
    
    border: 5px solid rgb(0, 0, 0);
    margin: 3px;
    align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .titlufinal{
      color: black;
      margin-top: -0%;
      margin-left: 50%;
      size: 30px;

  }
  .divquofinalsimplu {
    
    border: 5px solid rgb(0, 0, 0);
    margin: 3px;
    align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-top:40%;
  }